.iw-select {
  position: relative;
  display: inline-block;
  width: 100%;

  .iw-select-control {
    display: flex;
    align-items: center;

    cursor: pointer;
    user-select: none;

    .iw-select-value,
    .iw-select-placeholder,
    .iw-select-multi-value {
      flex: 1;
    }

    .iw-select-multi-value {
      display: flex;
      flex-wrap: wrap;

      .iw-select-multi-value-tag {
        display: flex;
        align-items: center;
      }
    }
  }

  .iw-select-dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;

    .iw-select-dropdown-search {
      width: 100%;
    }

    .iw-select-dropdown-options {
      .iw-select-dropdown-options-option {
        display: flex;
        align-items: center;
        cursor: pointer;
        user-select: none;
      }
    }
  }
}
