@import "./form/form.css";

body {
  display: flex;
  justify-content: center;
  font-family: Roboto, Arial;

  #root {
    display: flex;
    flex-direction: column;
    align-items: center;

    & > * {
      width: 35rem;
    }
  }
}

input,
select,
button,
a {
  padding: 0.25rem 0.5rem;
}

button,
a {
  cursor: pointer;
}
