@import "@inglorious/logo/style.css";

body {
  height: 100vh;
  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  align-items: center;
  gap: 4rem;
}
