.table {
  input[type="number"] {
    min-width: 4rem;
  }

  .textCenter {
    text-align: center;
  }

  .textRight {
    text-align: right;
  }

  .row {
    display: flex;
    align-items: center;
    column-gap: 1rem;

    &.even {
      background-color: aliceblue;
    }

    &.selected {
      border-left: 1px solid cornflowerblue;
      border-right: 1px solid cornflowerblue;
    }

    &:not(.selected) + &.selected {
      border-top: 1px solid cornflowerblue;
    }

    &.selected + &:not(.selected) {
      border-top: 1px solid cornflowerblue;
    }
  }

  .header {
    border-bottom: 1px solid grey;
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

    > .row {
      align-items: flex-start;

      .column {
        display: flex;
        flex-direction: column;
        row-gap: 0.5rem;

        .title {
          font-weight: bold;
          white-space: nowrap;
        }

        input,
        select {
          width: 100%;
        }
      }
    }

    .searchbar {
      width: 100%;
    }
  }

  .body {
    max-height: 35rem;
    overflow: auto;
    border-bottom: 1px solid grey;

    .cell {
      padding: 1rem;
    }
  }

  .footer {
    padding: 1rem 0;

    .row {
      justify-content: space-between;

      button {
        white-space: nowrap;
      }
    }
  }
}
