.iw-table {
  user-select: none;

  .iw-table-header {
    display: flex;
    flex-direction: column;
  }

  .iw-table-header-row {
    display: flex;
  }

  .iw-table-header-column {
    display: flex;
    flex-direction: column;
  }

  .iw-table-filter-input,
  .iw-table-filter-select {
    width: 100%;
  }

  .iw-table-searchbar {
    width: 100%;
  }

  .iw-table-row {
    display: flex;
  }

  .iw-table-footer-row {
    display: flex;
  }
}
