.iw-table {
  .iw-table-header {
    border-bottom: 1px solid grey;
    padding: 1em 0;
    row-gap: 1em;
  }

  .iw-table-header-row {
    align-items: flex-start;
    column-gap: 1em;
  }

  .iw-table-header-column {
    row-gap: 0.5em;
  }

  .iw-table-header-title {
    font-weight: bold;
    white-space: nowrap;
  }

  .iw-table-body {
    max-height: 35em;
    overflow: auto;
    border-bottom: 1px solid grey;
  }

  .iw-table-row {
    align-items: center;
    column-gap: 1em;
  }

  .iw-table-row-even {
    background-color: aliceblue;
  }

  .iw-table-row-selected {
    border-left: 1px solid cornflowerblue;
    border-right: 1px solid cornflowerblue;
  }

  :not(.iw-table-row-selected) + .iw-table-row-selected {
    border-top: 1px solid cornflowerblue;
    margin-top: -1px;
  }

  .iw-table-row-selected + :not(.iw-table-row-selected) {
    border-top: 1px solid cornflowerblue;
    margin-top: -1px;
  }

  .iw-table-cell {
    padding: 1em;
  }

  .iw-table-cell-number,
  .iw-table-cell-date {
    text-align: right;
  }

  .iw-table-cell-boolean {
    text-align: center;
  }

  .iw-table-footer {
    padding: 1em 0;
  }

  .iw-table-footer-row {
    justify-content: space-between;
    align-items: center;
    column-gap: 1em;
  }

  .iw-table-page-input {
    min-width: 4em;
    text-align: right;
  }

  .iw-table-pagination-button {
    white-space: nowrap;
  }
}
